<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>314220007855-fbgpis3bhs7s3srvgro235c59tf3dqpq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.314220007855-fbgpis3bhs7s3srvgro235c59tf3dqpq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>314220007855-f7bc88csleipk3pcg4fnt4er6pe5mv7t.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA15H1TPm-slCDtBHQihYCzLKcYROhnfJI</string>
	<key>GCM_SENDER_ID</key>
	<string>314220007855</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.coachiko</string>
	<key>PROJECT_ID</key>
	<string>coachiko-dietapp</string>
	<key>STORAGE_BUCKET</key>
	<string>coachiko-dietapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:314220007855:ios:c0ee1b784f0627d60e9f5a</string>
</dict>
</plist>